.Notifications {
  border: 2px dashed salmon;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 0px;
}

.Notifications p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.Notifications li strong{
  font-weight: 900;
}

.Notifications ul li[data-priority="urgent"] {
  color: blue;
}

.NotificationItem ul li[data-priority="urgent"] {
  color: red;
}