.App {
  text-align: center;
}

.App-header h1 {
  color: rgb(212, 15, 15);
}


.App-header {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer p {
  text-align: center;
  padding: 10px;
  background-color:white;
  color: rgb(6, 5, 5);
  border-top: 2px solid rgb(215, 27, 49);
  margin-top: 25%;
}
